html {
    font-family: sans-serif;
}
#grid {
    display: grid;
    grid-gap: 1px;
    background-color: #fff;
    color: #444;
    border: 1px solid black;
}

#status {
    width: 500px;
    text-align: center;
    margin-top: 5px;
}
#grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}